
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Notes App</title>
    <link rel="stylesheet" href="/static/welcome.css">
    
</head>
<body>
    <nav>
        <a>Simple Notes App</a>
    </nav>

    <!-- <h1>Simple Notes App</h1> -->
    <h2>About</h2>
    <a href="{{url_for('create')}}"><button>Create</button></a>
    <a href="{{url_for('login')}}"><button>Login</button></a>
</body>
</html>